{% extends "movieapp/extend/template_layout.html" %}
<!-- 템플릿 추가하겠다.-->
{% block content %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- <style>
        body {
            display: flex;
            background-color: #141414;
            color: #ffffff;
            margin: 0;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }
        
    </style> -->
</head>
<body>
    
    <div class="content">
        <h1>환영합니다!</h1>
        <p>여기에 메인 콘텐츠가 표시됩니다.</p>
        <a href="test" test ></a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock content %}
